{% extends 'flatpages/default.html'%}

{% block title %}
dfgasdfasdasdasdasd
{% endblock title %}

{% block content %}
<div class="inner-header">
            <div class="logo-container">
              <h1>Мои Контакты</h1>
            </div>
    </div>
<p> Телефон:            322-223-322</p>
<p> Электронный адрес:  хххххххх@mail.ru</p>
<p> Aдрес:              </p>
<p>         Галактика:  Млечный путь              </p>
<p>         Планета:    Третья от солнца              </p>
{% endblock content %}