{% extends 'flatpages/default.html'%}

{% block title %}
dfgasdfasdasdasdasd
{% endblock title %}

{% block content %}
<div class="inner-header">

              <h1>Моё хобби</h1>

    </div>
<p class="image" > <img class="image" src="https://www.bibliotemryuk.ru/netcat_files/5/6/Oblozhka_29.jpg"
     alt="Мое хобби - спорт" width="300" height="200"/>
  Мое хобби это спорт. Мне нравятся несколько видов спорта. Волейбол, настольный теннис, плавание, лыжи, коньки. Люблю их все, занимаюсь с удовольствием</p>

{% endblock content %}